body {
        font-family: Arial, sans-serif;
        text-align: center;
        background-color: #555555;
    }

h1 {
        color: rgb(2, 48, 100);
        font-size: 24px;
        font-weight: bold;
    }

.general {
        background-color: white;
        padding: 20px;
        width: 600px;
        margin: 20px auto;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
    }

label {
        display: block;
        text-align: left;
        margin: 10px 0 5px;
        font-weight: bold;
    }

input[type="text"],
input[type="date"],
input[type="time"],
input[type="submit"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.boton {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    }

.Enviar {
    background-color: rgb(2, 48, 100);
    color: white;
    transition: all 0.5s ease;
    }

.Enviar:hover{
    background-color: rgb(4, 73, 153);
    box-shadow: 0 0 10px rgb(2, 48, 100), 0 0 20px rgb(2, 48, 100);
    transform: scale(1.02);
}

select {
        width: 100%;
        padding: 16px 20px;
        border: none;
        border-radius: 4px;
        background-color: #f1f1f1;
        margin: 10px auto;
        }

button {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

.confirmacion {
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-left: 0; /* opcional, ya está por defecto */
    padding-left: 0;
}

.confirmacion input[type="radio"] {
    margin: 0 8px 0 0;  /* espacio entre radio y texto */
    transform: scale(1.2); /* opcional: hace el radio un poco más visible */
}

.confirmacion label {
    font-weight: bold;
}