html, body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: linear-gradient(to bottom right, #9fe2e7, #1d79c4);
    background-color: rgba(0, 0, 0, 0.5);
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.tituloprincipal {
    color: rgb(2, 100, 23);
    font-size: 24px;
    font-weight: bold;
    padding-top: 10px;
}

/* Div que se muestra a la hora de hacer una consulta */
.general {
    background-color: white;
    padding: 20px;
    width: 400px;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

label {
    display: block;
    text-align: left;
    margin: 10px 0 5px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Div del botón de la consulta */
.boton {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

/* Botón de la consulta */
.Entrar {
    background-color: rgb(69, 133, 44);
    color: white;
    transition: all 0.5s ease;
}

/* Hover del botón de la consulta de tickets */
.Entrar:hover{
    background-color: rgb(82, 160, 51);
    box-shadow: 0 0 10px rgb(69, 133, 44) 0 0 20px rgb(69, 133, 44);
    transform: scale(1.02);
}

/* Estilo para todo los selects que hay en la consulta */
select {
    width: 100%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
    margin: 10px auto;
}

/* Título H1 al mirar los tickets ya desplegados */
.h1principal {
    padding-top: 25px;
}

/* CSS para mostrar los tickets correctamente */
.divticket1 {
    background-color: white;
    padding: 20px;
    width: 200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

/* Div que contiene todos los tickets que se muestran */
.contenedor-tickets {
    display: flex;
    flex-wrap: wrap;         
    gap: 20px;              
    justify-content: flex-start; 
    padding: 20px;
}

/* Estilo del div de cada ticket mostrado */
.divticket {
    background-color: white;
    padding: 15px;      
    flex: 1 1 300px;
    min-width: 300px;
    max-width: 450px;
    max-height: 500px;       
    overflow-y: auto;        
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin-bottom: 10px;
    transition: all 0.4 ease;
    background-image: url(../img/fondoticket.jpg);
}

/* Hover del div de ticket */
.divticket:hover{
    background-color: white;
    box-shadow: 0 0 10px #000000 0 0 20px #000000;
    transform: scale(1.02);
}

/* Título ticket */
.tituloticket{
    color: black;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
}

/* Texto del ticket */
.h3ticket {
    color: rgb(2, 48, 100);
    text-align: left;
    margin: 10px 0 5px;
    font-weight: bold;
}

/* Código que afecta a los h3 de dentro del ticket menos al primero (espaciado) */
.h3ticket:not(:first-of-type) {
    padding-top: 15px;
}

p {
    text-align: left;
}

/* Botones de para volver al login y volver a la consulta */
.botonfinal {
    width: 150px;
    text-align: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: rgb(21, 78, 184);
    padding: 20px;
    color: white;
    font-weight: bold;
    margin-right: 7.5px;
    margin-left: 7.5px;
    transition: all 0.5s ease;
    gap: 15px 15px;
}

/* Hover botones abajo */
.botonfinal:hover{
    background-color: rgb(60, 168, 182);
    box-shadow: 0 0 10px rgb(54, 184, 21) 0 0 20px rgb(21, 78, 184);
    transform: scale(1.02);
}

.divbotonfinal{
    margin-top: 15px;
}

/* Botones de la paginación */
.botonespags{
    width: 100px;
    text-align: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: rgb(21, 78, 184);
    padding: 20px;
    color: white;
    font-weight: bold;
    margin-right: 7.5px;
    margin-left: 7.5px;
    transition: all 0.5s ease;
    gap: 15px 15px;
}

/* Hover botones paginación */
.botonespags:hover{
    background-color: rgb(60, 168, 182);
    box-shadow: 0 0 10px rgb(4, 22, 0) 0 0 20px rgb(21, 78, 184);
    transform: scale(1.02);
}